.header-main-container {
  display: flex;
  border: 1px solid black;
  width: 200px;
}

.header-container {
  display: flex;

  border: 1px solid black;
  justify-content: space-between;
  padding: 20px;
}

.image-container {
  width: 100px;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 10px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.search-container {
  padding: 10px;
  margin: 10px;
}

.top-rated-btn {
  width: 140px;
  height: 50px;
}

.top-rated-btn:hover {
  width: 150px;
  height: 60px;
  border: 2px solid black;
  background-color: bisque;
  cursor: pointer;
}

.header-main-container {
  display: flex;
}

.single-card-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e4e2;
  width: 250px;
  margin: 10px;
  padding: 10px;
}

.single-card-container:hover {
  border: 1px solid black;
}

.food-image-single {
  width: 80%;
  padding: 5px;
  margin: 5px;
}

.food-name {
  margin: 5px;
}

.footer-component {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.main-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.multi-card-container {
  display: flex; /* Ensures cards are displayed in a row */
  flex-wrap: wrap; /* Allows wrapping if there are too many cards */
  gap: 20px; /* Adds space between cards */
  justify-content: flex-start; /* Aligns cards to the left */
  margin-top: 20px; /* Adds some spacing from the search container */
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.single-simmer {
  background-color: #d3d3d3;
  width: 270px;
  height: 500px;
  margin: 20px;
}

.login-btn {
  padding: 10px;
  width: 70px;
  height: 40px;
  background-color: rgb(189, 114, 23);
  border-radius: 5px;
  border: none;
}

.login-btn:hover {
  background-color: bisque;
  border: 2px solid black;
  cursor: pointer;
}
